* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #EEF0F2;
  --second-color: rgb(224, 226, 221);
  --accent-color: #846A6A;
  --dark-accent-color: #353B3C;
}

.App {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
}